<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <%= f.input :kind, as: :select, collection: Trip.kinds.map { |key, value| [key.humanize, key] }, class: "ui fluid dropdown" %>
        <%= f.association :event %>
        <%= f.input :start_location, {:type => "search", :placeholder => "Where do we start our trip?" } %>
        <%= f.input :end_location, {:type => "search", :placeholder => "Where does our trip end?"} %>
  
        <%= f.input :seats %>
        <%= f.input :price %>
        <div class="checkbox switcher">
            <label for="round_trip">
                <input type="checkbox" id="round_trip" value="" name="round_trip" >
                <span><small></small></span>
                <small><b>Single trip?</b></small>
            </label>
        </div>
        <%= f.input :departure_times %>
        <%= f.input :return_times %>
        <%= f.association :plan %>
        <%= f.association :vehicle %>
        <div class="form-actions">
            <%= f.button :submit %>
        </div>
<% end %> 
