<div class="row middle-section">
    <div class="trip-img col-md-12">
      <h2><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @trip.start_location %> <i class="fa fa-chevron-right" aria-hidden="true"></i> <%= @trip.end_location %></h2>
    </div>
    <div class="trip-img col-md-7">
      <%= image_tag @trip.vehicle.large, :alt => "#{@trip.vehicle.make}" %>
    </div>

      <div class="trip-info col-md-5" style="padding-right: 0">
      <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Departure: 
            <span class="badge badge-secondary badge-pill"><%= @trip.departure_times.strftime("%d %B %Y, %H:%M ")  %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Returns:
            <span class="badge badge-secondary badge-pill"><%= @trip.return_times.strftime("%d %B %Y, %H:%M")  %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Price:
            <span class="badge badge-secondary badge-pill">R<%= @trip.price %> per trip</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Seats available:
            <span class="badge badge-secondary badge-pill"><%= @trip.seats %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Call driver:
            <span class="badge badge-secondary badge-pill"><%= @trip.user.cellphone %></span>
          </li>
      </ul>

        <div class="social-icons">
          <%= social_share(@trip) %>
        </div>

        
      <div>
          <span> <i class="fa fa-user"></i> 0 Partners <%= " and #{pluralize(visits_count(@trip), 'view')}" if current_user_is_owner?(@trip) %> </span>
          <% unless current_user_is_owner?(@trip) %>
            <button class="join-trip" data-trip-id="<%= @trip.id %>" data-user-id="<%= current_user&.id %>" data-action-type="<%= set_rider_state(@trip) %>" data-rider-id="<%= rider_id(current_user, @trip) %>" ><%= set_rider_state(@trip) %> trip</button>
          <% else %>
            <span class="fa fa-eye"> <%= link_to "View #{@trip.leads.size} leads for this trip", leads_for_trip_path(@trip.id), :method => :get %></span>
          <% end %>
      </div>
  </div>

  <div class="col-md-7">
    <% if rider_id(current_user, @trip).present? || current_user_is_owner?(@trip) %>
      <div class="chat">
        <h3> Chat with <span>this trip riders and driver</span> <i class="fa fa-comment-dots"></i></h3>
        <div class="messages">
          <%= render @messages %>
        </div>
        <div class="inputs">
          <%= simple_form_for(Message.new, html: {role: "form"}, url: '/messages', remote: true) do |f| %> 
            <%= f.text_field :body, placeholder: "Write your message here.....", autocomplete: "off", class: "trip-message" %>
            <%= f.hidden_field :trip_id, value: "#{@trip.id}" %>
            <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
            <%= f.button :submit, value: "Send" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="driver-details col-md-5">
      <h3>Driver details <i class="fa fa-info-circle"></i></h3>
      <div class="details">
          <div class="driver-photo">
              <%= image_tag set_user_profile_image(@trip.user) %>
          </div>
          <div class="detail">
              <span>Name: <span><%= "#{@trip.user.full_name}"%></span> </span>
              <span>Age: <span>35</span> </span>
              <span>Gender: <span>Male</span> </span>
               <span>ID: <span>verified</span> <i class="fa fa-close"></i> </span>
              <span>Email: <span>verified</span> <i class="fa fa-check"></i> </span>
              <span>Phone:  <span>verified</span> <i class="fa fa-close"></i> </span>
          </div>
          <div class="detail trips">
              <span>trips: <span><%= pluralize(@trip.user.trips.count, 'trip') %></span> </span>
          </div> 
          <div class="detail Member ">
              <span><span>Member since <%= @trip.user.created_at.strftime("%B, %Y") %></span> </span>
          </div>
      </div>
      <% unless current_user_is_owner?(@trip) %>
        <div class="contact-driver">
          <h3>Contact driver <i class="fa fa-paper-plane"></i></h3>
          <div class="contact">
            <form action="/leads" method="POST">
              <input type="hidden" id="lead[trip_id]" name="lead[trip_id]" value="<%= @trip.id %>" required>
              <input type="text" placeholder="First Name" id="lead[first_name]" name="lead[first_name]" required>
              <input type="text" placeholder="Last Name" id="lead[last_name]" name="lead[last_name]" required>
              <input type="email" placeholder="Email" id="lead[email]" name="lead[email]" required>
              <input type="number" placeholder="Phone number" id="lead[cellphone]" name="lead[cellphone]" required>
              <input type="submit" value="Send" class="leads-form">
            </form>
          </div>
        </div>
      <% end %>
  </div>
  <% if rider_id(current_user, @trip).present? || current_user_is_owner?(@trip) %>
    <section class="better-space"></section>
    <h2>Trip riders</h2>
    <section class="better-space"></section>
    <%= render @riders %>
  <% end %>
</div>
     