<h2><%= header %><%= search_results_count trips %></h2>
<div class="row paginated-cards mt-3">
  <% trips.each do |trip| %>
    <div class="col-md-3 col-sm-12 box-placeholder box-placeholder-daily">
      <div class="p-4">
        <span class="category text link"></span>
        <h4 class="text line"></h4>
        <h4 class="text"></h4>
      </div>
      <hr>
      <div class="image">
        <div class="embed-responsive embed-responsive-16by9"></div>
      </div>
      <hr>
      <div class="excerpt p-4">
        <div class="text line"></div>
        <div class="text line"></div>
        <div class="text"></div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12 daily-trip">
      <div class="card card__dark card__dark--magenta custom">
        <div class="media media--16-9"> <img src="<%= url_for(trip.vehicle.thumbnail) %>"> </div>
            <div class="primary-title">
              <div class="primary-text float-right price btn btn-info">
                  R<%= trip.price %>
              </div>
              <div class="primary-text">
                <p class="text-center" style="padding-bottom:10px"><%= trip.short_start_location %></p>
                  <div class="from_to">
                    <span>TO</span> 
                  </div>
                <p class="text-center"><%= trip.short_end_location %></p> 
              </div>
            </div>
            <div class="d-inline p-2 text-center" style="margin-top:10px;">Departs at <%= trip.departure_times.strftime('%H:%m %p') %> <%= 'daily' if trip.kind.eql?('daily_work')%></div>
            <div class="d-inline p-2 bg-secondary text-white text-center">
                <div class="action-icons icon-color--yellow"><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
             </div>
              Super driver
             </div>
            <div class="actions border-top">
              <div class="action-buttons float-right action-buttons-daily-cards">
                <%= button_to "View Details", trip_path(trip), :method => :get, :class => "button", :type => "button" %>
              </div>
              <div class="action-icons float-left">
                <div class="social-icons">
                  <%= social_share(trip) %>
                </div>
              </div>
          </div>
        </div> 
    </div> 
  <% end %>
</div>
<h3 class="view-more"><%= "Show all #{trips.size - 4} + lift clubs <i class='fa fa-angle-right'></i>".html_safe if (trips.size - 4) > 0 %></h3> 
