<h2><%= header %><%= search_results_count trips %></h2>
<div class="row top-buffer paginated-cards mt-4">
  <% trips.each do |trip| %>
    <div class="col-md-4 col-sm-12 box-placeholder box-placeholder-daily">
      <div class="p-4">
        <span class="category text link"></span>
        <h4 class="text line"></h4>
        <h4 class="text"></h4>
      </div>
      <hr>
      <div class="image">
        <div class="embed-responsive embed-responsive-16by9"></div>
      </div>
      <hr>
      <div class="excerpt p-4">
        <div class="text line"></div>
        <div class="text line"></div>
        <div class="text"></div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 daily-trip" style="margin-bottom: 20px">
      <div class="card card__dark card__dark--magenta custom">
        <div class="media media--16-9" style="background-image: url(https://earlybirds.co.za<%= Rails.application.routes.url_helpers.rails_representation_url(trip.vehicle.image.variant(resize: "500x500").processed, only_path: true) %>); background-repeat: no-repeat; background-size: cover;"> </div>
            <div class="primary-title">
              <div class="primary-text float-right price btn btn-info">
                  R<%= trip.price %>
              </div>
              <div class="primary-text">
                <p class="text-center" style="padding-bottom:10px"><%= truncate(trip.short_start_location, length: 30) %></p>
                  <div class="from_to">
                    <span>TO</span> 
                  </div>
                <p class="text-center"><%= truncate(trip.short_end_location, length: 30) %></p> 
              </div>
            </div>
            <div class="d-inline p-2 text-center" style="margin-top:10px;">Departs at <%= trip_time(trip.kind, trip.departure_times) %></div>
            <div class="d-inline p-2 bg-secondary text-white text-center">
                <div class="action-icons icon-color--yellow"><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
             </div>
              Super driver
             </div>
            <div class="actions border-top">
              <div class="action-buttons float-right action-buttons-daily-cards">
                <%= button_to "View Details", trip_path(trip), :method => :get, :class => "button", :type => "button" %>
              </div>
              <div class="action-icons float-left">
                <div class="social-icons">
                  <%= social_share(trip) %>
                </div>
              </div>
          </div>
        </div> 
    </div> 
  <% end %>
  <% if trips.count > WillPaginate.per_page %>
    <div class="apple_pagination">
      <div class="page_info">
      <%= page_entries_info trips  %>
      </div>
      <%= will_paginate trips, :container => false %>
    </div>
  <% end %>
</div>
<%
=begin%>
 <h3 class="view-more"><%= "Show all #{trips.size} + lift clubs <i class='fa fa-angle-right'></i>".html_safe if (trips.size - 4) > 0 %></h3>  
<%
=end%>
