
<h2>Long distance rides</h2>
<div data-slick='{"slidesToShow": 3, "slidesToScroll": 3}' class="scroller responsive data left-align-slick">
    <% @cross_province_trips.each do |trip| %>
        <%
=begin%>
 <div class="box-placeholder box-placeholder-long">
            <div class="p-5">
                <span class="category text link"></span>
                <h4 class="text line"></h4>
                <h4 class="text"></h4>
            </div>
            <hr>
            <div class="excerpt p-4">
                <div class="text line"></div>
                <div class="text line"></div>
                <div class="text"></div>
            </div>
            <hr>
        </div> 
<%
=end%>
        <!-- Card example 06 -->
        <div class="card card__dark card__dark--magenta long-trip">
            <div class="media media--16-9" style="background-image: url(#{<%= url_for(trip.vehicle.image) %>}); background-repeat: no-repeat; background-size: cover;"></div>
            <div class="primary-title">
                <div class="primary-text float-rightprice btn btn-info price">
                    R<%= trip.price %>
                </div>
                <div class="primary-text">
                 <p class="text-center" style="padding-bottom:10px"><%= truncate(trip.short_start_location, length: 30) %></p>
                 <div class="from_to">
                    <span>TO</span> 
                  </div>
                  <p class="text-center" style="padding-bottom:10px"><%= truncate(trip.short_end_location, length: 30) %></p>
                </div>
                </div>
                <div class="text-center" style="margin-top:15px;"><i class="fa fa-clock-o"></i><%= trip_time(trip.kind, trip.departure_times) %></div>
                <div class="bg-secondary text-white text-center" style="padding:6px; margin-top:5px">
                    <div class="action-icons icon-color--yellow"><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    </div>
                    Super driver
                </div>
  
                <div class="actions border-top">
                    <div class="action-buttons float-right action-buttons-daily-cards">
                        <%= button_to "View Details", trip_path(trip), :method => :get, :class => "button", :type => "button" %>
                    </div>
                    <div class="action-icons">
                        <div class="social-icons">
                            <%= social_share(trip) %>
                        </div>
                    </div>
                </div>
        </div> 
    <% end %>
</div>
