
<h2>Cross province home lift clubs</h2>
<div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}' class="scroller responsive data">
    <% @cross_province_trips.each do |trip| %>
        <%
=begin%>
 <div class="box-placeholder box-placeholder-long">
            <div class="p-5">
                <span class="category text link"></span>
                <h4 class="text line"></h4>
                <h4 class="text"></h4>
            </div>
            <hr>
            <div class="excerpt p-4">
                <div class="text line"></div>
                <div class="text line"></div>
                <div class="text"></div>
            </div>
            <hr>
        </div> 
<%
=end%>
        <!-- Card example 06 -->
        <div class="card card__dark card__dark--magenta long-trip">
            <div class="media media--16-9"> <%= image_tag trip.vehicle.thumbnail, :alt=>"" %></div>
            <div class="primary-title">
                <div class="primary-text float-right">
                    R<%= trip.price %>
                </div>
                <div class="primary-text">
                    <%= link_to "#{trip.short_start_location} - #{trip.short_end_location}", trip_path(trip) %>
                </div>
                <div class="secondary-text">
                    <div class="action-icons icon-color--yellow"><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                    Super driver</div>
                </div>
                <div class="supporting-text">Departs on <%= trip.departure_times.strftime('%d-%M-%Y, %H:%m %p') %></div>
                <div class="actions border-top">
                    <div class="action-buttons float-right action-buttons-daily-cards">
                        <%= button_to "View Details", trip_path(trip), :method => :get, :class => "button", :type => "button" %>
                    </div>
                    <div class="action-icons">
                        <div class="social-icons">
                            <%= social_share(trip) %>
                        </div>
                    </div>
                </div>
        </div> 
    <% end %>
</div>
