<div class="container">
  <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Leads for your trip from <%= @trip.start_location %> <i class="fa fa-chevron-right" aria-hidden="true"></i> <%= @trip.end_location %></h2>
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Cellphone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <div class="apple_pagination">
            <div class="page_info">
            <%= page_entries_info @leads  %>
            </div>
            <%= will_paginate @leads, :container => false %>
        </div>
        <% @leads.each do |lead| %>
            <tr>
                <td><%= lead.first_name %></td>
                <td><%= lead.last_name %></td>
                <td><%= lead.email %></td>
                <td><%= lead.cellphone %></td>
                <td><%= link_to "Joined this trip?", trip_path(@trip) %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>