<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @lead.trip %>
</p>

<p>
  <strong>First name:</strong>
  <%= @lead.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @lead.last_name %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @lead.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
