
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address, {:type => "search", :placeholder => "Where is the event?"} %>
    <%= f.input :description %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :ticket_link %>
    <%= f.association :category %>
    <%= f.input :expired %>
    <%= f.input :image, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
