<%= render 'shared/banner' %>
<section class="better-space"></section>
<%= render 'shared/rider_adverts' %>
<section class="better-space"></section> 
<h2 id="trips">Available long distance rides</h2>
<div class="row top-buffer paginated-cards mt-4">
    <%= render @trips %>
</div>
<div class="load-more-container">
    <%= image_tag "ajax-loader.gif", style: "display:none; height: 50px; width: 50px", class: "loading-gif" %>
    <%= link_to "Load More", trips_path, class: "load-more" %>
</div>
<section class="better-space"></section> 



 <%
=begin%>
 <%= render 'shared/events_slider' %> 
 <%= render 'shared/events_advert' %>  
 <section class="better-space"></section> 
 <%= render 'shared/long_slider' %> 
 <section class="better-space"></section>  
<%
=end
%>