<%= render 'shared/banner' %>
<section class="better-space"></section>
<%= render 'shared/events_advert' %> 
<section class="better-space"></section>
<%= render 'shared/events_slider' %>
<section class="better-space"></section>
<%= render 'shared/long_slider' %>
<section class="better-space"></section>
<%= render 'shared/rider_adverts' %>
<section class="better-space"></section>
<%= render 'shared/daily_cards' %>
<section class="better-space"></section>