<%
=begin%>
 <%= render 'shared/banner' %> 
<%
=end%>
<section class="better-space"></section>
<%= render 'shared/rider_adverts' %>
<section class="better-space"></section>
<%
=begin%>
 <%= render 'shared/events_advert' %>  
<%
=end%>
<section class="better-space"></section>
<%= render 'shared/events_slider' %>
<section class="better-space"></section>
<%= render 'shared/long_slider' %>
<section class="better-space"></section>
<%= render 'shared/daily_cards', header: 'Daily work lift clubs', trips: @daily_work_trips %>
<section class="better-space"></section>