
<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%
=begin%>
 <%= f.select(:make, CarsService.makes, {}, {:class => "selectpicker makes", :id => "makes", 'data-live-search' => "true"}) %> 
<%
=end%>
    <%= f.input :make, :collection => CarMake.all, :value_method => :name %> 
    <%= f.input :model, :collection => [] %>
    <%= f.input :licence_plate, :placeholder => 'Do not leave any spaces.', :hint => 'We do not share this, it is used to verify you are the owner' %>
    <%= f.input :color %>
    <%
=begin%>
 <%= f.input :is_verified %> 
<%
=end%>
    <%= f.input :image, as: :file, :hint => 'Avoid showing the plate number.' %>

  <div class="form-actions">
    <%= f.button :submit, :class=>"btn-primary" %>
  </div>
<% end %>
