<%
=begin%>
 <p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user %>
</p>

<p>
  <strong>Licence plate:</strong>
  <%= @vehicle.licence_plate %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Is verified:</strong>
  <%= @vehicle.is_verified %>
</p>

<p>
  <%= image_tag url_for(@vehicle.image) %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %> 
<%
=end%>
<section class="better-space"></section>
<div class="driver-details">
    <h3><%= "#{@vehicle.make} - #{@vehicle.model}" %> by <%= link_to @vehicle.user.full_name, profile_path %> </i></h3>
    <div class="details">
        <div class="driver-photo">
          <%= image_tag @vehicle.thumbnail %>
        </div>
        <div class="detail">
            <span>Licence plate: <span><%= @vehicle.licence_plate %></span> </span>
            <span>Color: <span> <%= @vehicle.color %></span> </span>
            <span>Verified: <span><%= @vehicle.is_verified %></span> </span>
            <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |<%= link_to 'Back', vehicles_path %> 
        </div>
    </div>
</div>