
<%= simple_form_for(@plan) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, :placeholder=>'Name of payment plan' %>
    <%= f.input :price, :placeholder=>'Price of plan' %>
    <%= f.input :length, :placeholder=>'Number of days active' %>
    <%= f.input :catch_phrase, :placeholder=>'Selling phrase' %>
    <%= f.input :description, :placeholder=>'Description of plan' %>
    <%= f.input :perks, :placeholder=>'Perks for choosing this plan', :hint=>'This is stored as json.' %>
    <%= f.input :daily_price, :placeholder=>'Price per each day in number of days active', :hint=>'Calculated as (price/length).'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>"btn-primary" %>
  </div>
<% end %>
